connection:
  scheme: http # http|https
  host: localhost # The host where your database lives
  port: 7474 # The port to connect to your database

# Transaction Settings
transaction:
  commit_strategy:
    strategy: auto # auto|stack

# Logger Settings
# @since v0.6

#logger:
#  handlers:
#    debug:
#      type: stream
#      path: /path/to/your/log/dir
#      level: debug #Level of logging
